body {
  color: #2459eb;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: #7696dd;
}

a:hover {
  color: #7696dd;
}

.container {
  margin: 20px auto;
  max-width: 1000px;
}

.card {
  padding: 50px;
  border-radius: 90px;
  border: 0;
  color: #476add;
  background-color: #f8dcef;
  box-shadow: 4px 4px 10px 1px rgb(0 0 0 / 45%);
}

.form-group {
  margin-left: 0 !important;
  padding-bottom: 30px;
}

.form-inline .form-group {
  display: inline-block;
}

.form-control {
  border: 0;
  border-radius: 5px;
  min-width: 300px;
}

.btn {
  border: 0;
  margin-top: 3px;
  background-color: #2459eb;
}

.temp-current p,
.temp-future p {
  color: #7696dd;
}

.temp-current p {
  font-size: 90px;
  text-align: center;
}

.temp-future p {
  font-size: 40px;
}
